---

---
@charset "utf-8";


// Our variables
$base-font-family: "adelle", Georgia, serif;
$base-font-size:   16px;
$alt-font-family:  -apple-system, BlinkMacSystemFont ,"Roboto", "Helvetica Neue", sans-serif;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #5c5c5c;
$background-color: #fff;
$brand-color:      #67bd48;

$grey-color:       #808080;
$grey-color-light: #999;
$grey-color-dark:  #333;

// Width of site
$wrapper-width:    1170px;

// Width of the content area
$content-width:    700px;

$on-palm:          568px;
$on-laptop:        940px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
