<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//use.typekit.net">
  <link rel="dns-prefetch" href="//p.typekit.net">
  <link rel="dns-prefetch" href="//google-analytics.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  {% if page.comments %}
  <link rel="dns-prefetch" href="//joshsadler.disqus.com">
  <link rel="dns-prefetch" href="//a.disquscdn.com">
  <link rel="dns-prefetch" href="//disqus.com">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Josh Sadler">
  <link rel="author" href="https://plus.google.com/111272566057491206818">
  {% if page.path contains '_posts' %}
  <meta name="title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Josh Sadler">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  {% if page.share_image %}<meta property="og:image" content="{{ page.share_image | prepend: site.url }}">{% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joshsadler">
  {% endif %}
  <meta name="theme-color" content="#ed1e79">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon-152x152.png">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-128.png" sizes="128x128">

  <meta name="application-name" content="Josh Sadler">
  <meta name="msapplication-TileColor" content="#ED1E79">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/mstile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/mstile-310x150.png">
  <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/mstile-310x310.png">

  <script>
     WebFontConfig = {
        typekit: { id: 'qhs1fnp' },
        google: { families: [ 'Roboto:500,300:latin' ] },
        classes: false,
        events: false
     };
     (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        s.parentNode.insertBefore(wf, s);
     })(document);
  </script>
</head>
